//5 Shades of Brown (darkest to lightest)
$b1: #5a4b2a;
$b2: #5a4b2a;
$b3: #95886a;
$b4: #baae91;
$b5: #e5dcc6;

/*--------------Awesome CSS for JWDesign Portfolio--------------*/
body, html{
    height: 100%;
    width: 100%;
    margin-left: -1px;
    margin-right: -2px;
    margin-top: -1px;
    font-family: montserrat;
}


.bodyWrap{
    width:101%;
    background-image: url(../images/sunset.jpg);
    height: 150%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.spacer100{
    display:flex;
    height:100px;
    background-color: white
}


.spacer102{
    display:flex;
    height:100px;
    background-color: white;
}



/*-=-=--=-=-=-=-=-=-=-=-HEADER -=-=--=-=-=--=-=-=-=-=-=-=-=*/


.headerContain {
    width: 101%;
    max-height:1111px;
    background: linear-gradient( #968969, #FFFFFF);
}


.mainLogo{
    max-width:50%;
    margin-top:100px;
    margin-left:30px;
    margin-bottom: 100px;
}


.treeWindow1{ 
    width:100%;
    margin-bottom: -2px;
}

/*-=-=--=-=-=-=-=-=-=-=-=-=-Window 1-=-=-=-=-=-=-=-=-=-=*/
.mainHeadings{
    position: relative;
    top: 20%;
    right:20%;
    
    font-size: 6vw;
    color: $b2;

}

.windowLContain{
   display: flex;
   flex-flow: row wrap;
   width: 100%;
    
}


.windowL{
    height: 50%;
    width: 50%;
    
}


.whiteSpaceR{
    padding-top:2z0px;
    padding-right: 50px;
    width: 50%;
    background-color: white;
    
}

/*-=-=--=-=-=-=-=-=-SKILLS CONTAINER -=-=--=-==-==-=-=-=-=*/

.skillsContain{
     display: flex;
    background-color: white;
    padding:20px;
    
}


.buttonContain{
    max-height: 500px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:center;
    padding:10px;

}


#skillsButton{
    border-radius:10px ;
    box-shadow: 0px 2px 1px #727272;
    margin :6px;
    flex-shrink:5;
    flex-basis:auto;
    flex-grow: 1;
    max-width: 80px;
}

#skillsButton:hover{
   
    box-shadow: 0px 2px 10px red;
}


#buttonImages{
    flex-basis:auto;
    max-width: 80px;
   
    
}

.skillsFrame{
}



/*-=-=--=-=-=-=-=-=-=-=-=-=-FOOTER -=-=--=-=-=-=-=-=-=-=-=-=-=*/

.footerContain{
    display: block;
    max-width: 100%;
    background: linear-gradient( #FFFFFF, #968969);
   
}


.footerLogo{
    max-width:20%;
    margin-top:50px;
    margin-left:50px;
    margin-bottom: 50px;
}